/* start PC css settings
------------------------- */


/* ===========================================================
intro
=========================================================== */

#intro {
    background: url(../img/intro_bg.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


/* ===========================================================
content
=========================================================== */

#content {
    text-align: left;
    margin-top: 70px;
    margin-bottom: 120px;
}

.contentIn {
    padding: 50px;
    background-color: #E4E4EA;
}

.contentTab {
    padding: 50px;
    background-color: #fff;
}

table {
    width: 100%;
    border-spacing: 0;
}

th {
    text-align: center;
    background-color: #000050;
    color: #fff;
    padding: 15px 10px;
}

table td:first-child {
    text-align: center;
    background-color: #E4E4EA;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #CCCCD5;
}

table td input {
    height: 30px;
    width: 338px;
}

table td input:focus {
    outline: none;
}

table tr > td:nth-child(2) {
    padding-left: 30px;
}

.submit {
    text-align: center;
    margin-top: 30px;
}

.submit a {
    color: #fff;
    background-color: #000050;
    letter-spacing: 3px;
    padding: 10px 30px;
}


/* start SP css settings
------------------------- */

@media screen and (max-width: 640px) {
    /* ===========================================================
    intro
    =========================================================== */
    #intro {
        background: url(../img/intro_bg_sp.jpg) center center no-repeat;
    }
    /* ===========================================================
    content
    =========================================================== */
    #content {
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .contentIn,
    .contentTab {
        padding: 15px;
    }
    .ios table td input {
        border-color: #CCCCD5 !important;
        -webkit-appearance: none !important;
        border-radius: 0 !important;
    }
    table td input {
        width: 100%;
        box-sizing: border-box;
    }
    table td {
        padding: 6px;
    }
    table tr > td:nth-child(2) {
        padding-left: 6px;
    }
}
